<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Acá debe ir la descripcion de la pagina web">
    <meta property="og:image" content="Aca va la imagen que quiero que se vea cuando comparten el link">
    <meta name="og:description" content="Descripcion al compartir">
    <meta name="og:title" content="Titulo al compartir">
    <meta name="author" content="Acá debe de ir el autor">
    <meta name="keywords" content="Palabras clave de la pagina(Ya no se usa tanto)">
    <meta name="robots" content="index2">
    <link rel="stylesheet" href="public/css/index2.css">
    <title>Index2</title>
</head>
<body>
    <div class="nav">
        <nav>
            <label class="logo">Logo</label>
            <ul>
                <li><a href="#"> Home</a> </li>
                <li><a href="#"> Store</a> </li>
                <li><a href="#"> Contact</a> </li>
                <li><a href="#"> Login</a> </li> 
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="content">

            <div id="slider-list" class="carrusel">
                
                <img id="imagen" src="./imagenes/1.jpg" alt="">
            </div>


            <div class="publicidad">
                <div class="imagen"></div>
                <div class="imagen"></div>
            </div>


            <h1>Mas populares</h1>
            <div class="productsP">
                <div class="producto">
                    <img src="http://placekitten.com/g/150/180" alt="">
                    <p><a href="">Descripcion del producto</a></p>
                    <p>$precio</p>
                </div>
                <div class="producto">
                    <img src="http://placekitten.com/g/150/180" alt="">
                    <p><a href="">Descripcion del producto</a></p>
                    <p>$precio</p>
                </div>
                <div class="producto">
                    <img src="http://placekitten.com/g/150/180" alt="">
                    <p><a href="">Descripcion del producto</a></p>
                    <p>$precio</p>
                </div>
                <div class="producto">
                    <img src="http://placekitten.com/g/150/180" alt="">
                    <p><a href="">Descripcion del producto</a></p>
                    <p>$precio</p>
                </div>
                <div class="producto">
                    <img src="http://placekitten.com/g/150/180" alt="">
                    <p><a href="">Descripcion del producto</a></p>
                    <p>$precio</p>
                </div>
                <div class="producto">
                    <img src="http://placekitten.com/g/150/180" alt="">
                    <p><a href="">Descripcion del producto</a></p>
                    <p>$precio</p>
                </div>
            </div>
        </div>
    </div>
    

    <footer>
        <p>Hello world</p>
    </footer>
</body>
</html>