* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-image: url(http://placekitten.com/g/1500/500);
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.page{
    
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

}

.page .space{
    background-color: transparent;
    border-bottom: 768px solid white;
}



.page .container .main {
    display: inline-grid;
    
    width: 100%;
    height: 500px;
    background-color: transparent;
}

.page .container .main nav{
    background: transparent;
    height: 80px;
    width: 100%;
}

.page .container .main .logo{
    color: white;
    font-size: 35px;
    text-decoration: line-through;
    line-height: 80px;
    padding: 0px 30px;
    font-weight: bold;
}

.page .container .main nav ul{
    float: right;
    margin-right: 50px;
}

.page .container .main nav ul li{
    display: inline-block;
    line-height: 70px;
}

.page .container .main nav ul li a{
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}
.page .container .main nav ul li a:hover{
    background: #cccbcb;
}

.page .container .content .products{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}
.page .container .content .details{
    align-content: center;
}
.page .container .content .details p{
    text-align: center;
}

.page .container .content .details a{
    text-decoration: none;
    color: black;
}

.page .container .content .details .product{
    background-color: black;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 30px;
    background-image: url(http://placekitten.com/g/160/170);
    height: 160px;
    width: 170px;
}



footer{
    width: 100%;
    background: black;
    height: 115px;
}


@media (max-width: 862px) {
    .page .space{
        background-color: transparent;
        border-bottom: 660px solid white;
    }
}
